*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #A05372;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Poppins';
    transition: all 0.3s ease;
}
h1:hover{
    color: #0A024D;
}

.formulario{
    width: 400px;
    background: #0A024D;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family: 'Poppins';
    color: #fff;
}
.formulario h3, h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.formulario .texto{
    font-family: 'Poppins';
}
.prueba1{
    width: 100%;
    background: #0A024D;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #63E1D0;
    font-family: 'Poppins';
    font-size: 18px;
    color: #fff;
}
.formulario p{
    height: 20px;
    text-align: center;
    font-size: 20px;
}
.formulario .boton{
    width: 100%;
    background: #EB7740;
    border: 2px solid #EB7740;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.formulario .boton:hover{
    color: #fff;
    background: none;
}